.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  position: relative; /* Asegúrate de que .App tenga position: relative; para que los elementos absolutos se posicionen correctamente dentro de él */
  z-index: 1; /* Asegura que el fondo .App esté en el nivel más bajo */
}









