@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    height: 70vh; /* Aseguramos que el body ocupe toda la altura del viewport */
    overflow: hidden; /* Evita el scroll */
}

.game-container {
    display: flex;
    flex-direction: row; /* Distribuye las secciones en una fila */
    width: 210vh;
    height: 100vh; /* Ocupa toda la altura del viewport */
    background-color: #6dafed;
    color: white;
    /*background-image: url('../images/background_image.png'); /* Ruta a la imagen guardada */

    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */

}

.scoreboard, .game-wrapper, .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; /* Asegura que cada sección ocupe espacio igual */
}

.scoreboard {
    /*background-image: url('../images/background_image.png'); *//* Ruta a la imagen guardada */
    background-color: #6dafed;
    padding: 20px;
    border-right: 2px;
    width: 20%; /* Ajusta el ancho del scoreboard */
}

.scoreboard h2 {
    margin-bottom: 20px;
}

.scoreboard table {
    width: 100%;
    border-collapse: collapse;
}

.scoreboard th, .scoreboard td {
    border: 5px solid white;
    padding: 10px;
    text-align: center;
}

.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%; /* Ajusta el ancho del game-wrapper */
}

.game-board {
    position: relative;
    width: 800px;
    height: 600px;
    background-image: url('../images/ice1_z.jpg');
    border: 5px solid gold; /* Borde color dorado */

}

.controls {
    /* background-image: url('../images/background_image.png'); /* Ruta a la imagen guardada */
    background-color: #6dafed;
    padding: 20px;
    border-left: 2px;
    width: 20%; /* Ajusta el ancho de los controles */
}

.controls button {
    margin: 10px;
    padding: 10px 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #ccc;
}
